*, *:before, *:after { /*mandatory*/
  box-sizing: border-box;
}

body { /*body*/
  background-color: white;
  font-size: 10px;
  margin: auto;
}

.container { /*iOS size*/
  margin: 0 auto;
  width: 375px;
  height: 667px;
  background-color: #ffffff;
}

.ios-nav { /*at the top, leaving this for structure, need help actually putting in the individual components (for bottom too)*/
  height: 50px;
  width: 375px;
  position: inherit;
}

.traninfo { /* background color/text colors aren't coming out right - need help with sizing */
  background-color: #2DB5C7;
  height: 40px;
  width: 375px;
  position: relative;
  color: #ffffff;
  text-align: left;
}

.bus-icon img {
  background-color: #2DB5C7;
}

.navbar-top { /*div for Washington x State*/
  background-color: #2DB5C7;
  height: 80px;
  width: 375px;
  position: relative;
  text-align: center;
}




body{
  font-family: Arial, Verdana, sans-serif;
  color: #2DB5C7;}
table{
  width: 375px;}
td{
  padding: 7px 10px 10px 10px;}
th{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  text-align: left;
  background-color: #96cdd5;
  color: #ffffff;}

.outofservice th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    text-align: left;
    background-color: #F93822;
    color: #ffffff;}


.row-selected{
  text-align: left;
  background-color: #2DB5C7;
  color: #ffffff;}

.header{ /* this is supposed to be the header for each directions line; tried to make each into seperate div's for the sake of styling but this it is not resposnive */
  width: 375px;
}


.map img{
  position: relative;
  width: 375px;
  height: auto;
  display: inline-block;
  }

.bottom-nav{
  width: 20%;
  display: inline-block;
  background-color: #efefef;
  overflow: auto;
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  padding: 12px 0; /* Some top and bottom padding */
  color: #979797; /* grey text color */
  font-size: 1.1em; /* Increased font size */

  }
}

h6 { /* words "Wash x State" */
  text-align: left;
  font-size: 1.1em;
  font-family: sans-serif;
  color: #efeff4;
  display: inline-block;
}

.top-container {
 background-color: #f8f8f8;
 height: 50px;
 width: 375px;
 font-size: 1.7em;
 text-align: center;
}
.chevron{
  /* how to properly place the chevron on top left?--> */
}
.stopnum{ /* everything around it changes except for the color of the text */
  text-align: center;
  color: #2DB5C7;;
  width: 375px;
  background-color: #f8f8f8;
  line-height: 44px;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: lighter;
  display: inline-block;
  margin: auto;
}

height: 50px;
width: 375px;
