*, *:before, *:after { /*mandatory*/
  box-sizing: border-box;
}

body { /*body*/
  background-color: white;
  font-size: 10px;
  margin: auto;
  width: 375px;
}

.ios-nav { /*at the top, leaving this for structure, need help actually putting in the individual components (for bottom too)*/
  height: 50px;
  width: 375px;
  position: inherit;
}

.statusbar{
background-color: #f8f8f8;
height: 20px;
width: 100%;
position: inherit;

}

.traninfo { /* background color/text colors aren't coming out right - need help with sizing */
  background-color: #2DB5C7;
  height: 40px;

  position: relative;
  color: #ffffff;
  text-align: left;
}

.bus-icon img {
  background-color: #2DB5C7;
}

h1{
  text-align: center;
  font-size: 1.5em;
  background-color: #f8f8f8;
}


.navbar-top { /*div for Washington x State*/
  background-color: #2DB5C7;
  height: 80px;
  position: relative;
  text-align: center;
}

body{
  font-family: Arial, Verdana, sans-serif;
  color: #2DB5C7;}

table{
    width: 375px;}
td{
  padding: 7px 10px 10px 10px;}

th{
  padding: 4px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  font-weight: bold;
  text-align: left;
  background-color: #96cdd5;
  color: #ffffff;}

.outOfService th{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  text-align: left;
  background-color: #F93822;
  color: #ffffff;
  }

.reroute th{
  background-color: #33bc52; /*color not showing up correctly?*/
}
.map img{
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  }

i {
background: #efefef;
color: #2DB5C7;
display: inline-block;
}

.bottom-nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

}

footer {
  width: 375px;
  position: relative;
  background-color: #efefef;
  overflow: auto;
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  /*width: 5.555%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  color: #979797; /* grey text color */
  font-size: 1.1em; /* Increased font size */
  }

h6 { /* words "Wash x State" */
  text-align: left;
  font-size: 1em;
  font-family: sans-serif;
  color: #efeff4;
  display: inline-block;
}

.top-container {
 background-color: #f8f8f8;
 height: 50px;
 font-size: 1.7em;
 text-align: center;
}
.chevron{
  background-color: #f8f8f8;
  font-family: Arial, Verdana, sans-serif;
  font-weight: lighter;
  width: 375px;
}

.chevron img{
  height: 20px;
  float: left;
}
.stopnum{ /* everything around it changes except for the color of the text */
  text-align: center;
  color: #ffffff;
  width: 100%;
  background-color: #2DB5C7;
  line-height: 44px;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: lighter;
  display: inline-block;
  margin: auto;
}

.schedule-view{
  color: #2DB5C7;;
  font-weight: bold;
  text-align: center;
  font-size: 1.6em;
  background-color: #f8f8f8;
  height: 25px;
}

.fa-route{
  width: 20%;
  text-align: Float;
  font-size: 14px;
  }

.fa-location-arrow{
  width: 20%;
  text-align: Float;
  font-size: 14px;
}

.fa-home{
  width: 20%;
  text-align: Float;
  font-size: 14px;
}

.fa-star{
  width: 20%;
  text-align: Float;
  font-size: 14px;
}

.fa-ellipsis-h{
  width: 20%;
  text-align: Float;
  font-size: 14px;
}
